<section class="order about">
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <span>Лучшая </span>итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores corporis eligendi eos ex non pariatur
        porro reprehenderit, rerum unde! At, odit quasi! Architecto dicta magnam modi quaerat repellat similique.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores corporis eligendi eos ex non pariatur
        porro reprehenderit, rerum unde! At, odit quasi! Architecto dicta magnam modi quaerat repellat similique.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores corporis eligendi eos ex non pariatur
        porro reprehenderit, rerum unde! At, odit quasi! Architecto dicta magnam modi quaerat repellat similique.
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>

<app-popup data="About component!!!"></app-popup>


